body {
  background: linear-gradient(
    -45deg,
    rgb(215, 177, 215),
    rgb(148, 37, 170),
    rgb(207, 195, 229),
    rgb(133, 98, 198)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
